body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-y: auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow-y: auto
}

.top-section {
    padding:1px;
    margin-bottom: 5px;
    background-color: rgb(153, 196, 236);
    display:flex;
    flex-direction:row;
}

.top-left{
    align-items: left;
    width:650px;
    margin-right: 5px;
}
.top-right {
    text-align: right ;
    padding:10px;
    vertical-align: center;
    width: 550px;
    display: flex;
    flex-direction: column;
}


.name, .short-description{
    padding-left: 10px;
}

.info{
    padding-bottom:5px;
    font-size: medium;
}
.small-image{
    width: 20px;
    height: 20px;
}

.middle-section {
  margin-bottom: 5px;
  display: flex;
  flex-basis: 50%

}

.column{
    width: 500px;
    padding: 10px;
    margin: 2px;
    flex-direction: row;
    overflow-y: auto;
}

.left{
  width: 50%;
}

.right{
  width: 50%;
}

.education{
  display: flex;

}

.bottom-section {
    background-color: rgb(153, 196, 236);
    height: 75px;
    display: flex;
}

.bottom-left{
    flex-basis: 50%;
    padding-left: 10px;
    margin: 2px;
}

.bottom-right {
    display:flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: flex-end;
    padding: 10px;
    align-items: right;
    text-align: right;
    vertical-align: center;
    margin: 2px;
}

.bottom-right div{
  margin-right: 10px;
}

h3 {
    padding-left: 20px;
}

.small-image{
vertical-align: middle;
margin-top: -3px;
}

.years{
border-right: 2px solid grey;
text-align: center;
padding-top: 5px;
padding-right: 10px;
font-size: small;
}

.educationEntry{
margin-left: 5px;
padding-left: 10px;
padding-top: 10px;
position:relative;
display:flex;
flex-direction:column;

}

.educationEntry::before{
content: "";
position: absolute;
width: 5px;
height: 5px;
background: rgb(128, 120, 120);
border-radius: 999px;
left: -13px;
top: 15px;
}

.row {
display: flex;
justify-content: center;
padding-bottom: 10px;
}

.rounded-rectangle {
border-radius: 10px;
background-color: rgb(37, 143, 200);
padding: 8px;
margin-right: 25px;
width: 100px;
display: flex;
align-items: center;
justify-content: center;
height: 50px;
font-size: 20px;


}

.rounded-rectangle p{
color:white;
}


.wrap{
display: flex;
align-items: center;
}
.university {
display: flex;
margin-top: 15px;

align-items: center; 
}

.location {
margin-top: 15px;
margin-left: 75px; 
justify-content:right;
}
